<html>
  <head>
  	
  </head>
  <body>
    <center>
      <form method='POST' action='/repos'>
        <input type='hidden' name='repo' value='<%= repository['language'] %>'>
        <input type='submit' value='Voltar'>
      </form>
    </center>
  	<h2><center>Detalhes do Repositório <%= repository['name'] %></center></h2>


    <center>
      <div>
        <table>
          <tr>
            <td>Id: </td>
            <td><%= repository['id'] %></td>
          </tr>
          <tr>
            <td>Nome completo: </td>
            <td><%= repository['full_name'] %></td>
          </tr>
          <tr>
            <td>Descrição: </td>
            <td><%= repository['description'].to_s %></td>
          </tr>
          <tr>
            <td>Linguagem: </td>
            <td><%= repository['language'] %></td>
          </tr>
          
          <tr>
            <td>HTML URL: </td>
            <td><%= repository['html_url'] %></td>
          </tr>
          <tr>
            <td>Autor: </td>
            <td><%= repository['owner_login'] %></td>
          </tr>
          <tr>
            <td>URL do Autor: </td>
            <td><%= repository['owner_url'] %></td>
          </tr>
          <tr>
            <td>Privado? </td>
            <td><%= repository['is_private'] == 't' ? 'Sim' : 'Não' %></td>
          </tr>
        </table>
      </div>
    </center>
    
  </body>
</html>